{% extends 'base.html' %}

{% block content %}

<h2 class="mb-3">საუდი არაბეთი - რიადი</h2>
<img src="{{ url_for('static', filename='images/arabic.jpg') }}" width="700" height="300" class="img-fluid rounded mb-3">
<p><b>დედაქალაქი:</b> რიადი</p>
<p>
საუდის არაბეთი მდებარეობს არაბეთის ნახევარკუნძულზე და ძირითადად უდაბნოებით არის დაფარული. იგი ცნობილია თავისი რელიგიური მნიშვნელობით, რადგან აქ მდებარეობს ისლამის წმინდა ქალაქები. დედაქალაქი რიადი არის თანამედროვე და სწრაფად განვითარებადი ქალაქი. ქვეყანა ასევე გამოირჩევა ნავთობის დიდი რესურსებით, რაც მის ეკონომიკას ძლიერად აყალიბებს.
</p>
<ul>
    <li>🏜 Desert landscapes</li>
    <li>🕌 Islamic heritage</li>
    <li>🏙 Modern cities</li>
</ul>
<a href="/" class="btn btn-secondary">Back</a>

{% endblock %}