{% extends 'base.html' %}

{% block content %}

<h2 class="mb-3">საფრანგეთი - პარიზი</h2>

<img src="{{ url_for('static', filename='images/france.jpg') }}" width="700" height="300" class="img-fluid rounded mb-3">

<p>
დედაქალაქი: პარიზი
საფრანგეთი არის ერთ-ერთი ყველაზე პოპულარული ტურისტული ქვეყანა მსოფლიოში. იგი ცნობილია თავისი მდიდარი კულტურით, ხელოვნებითა და მოდის ინდუსტრიით. დედაქალაქი პარიზი ხშირად მოიხსენიება როგორც “სიყვარულის ქალაქი”. აქ მდებარეობს მსოფლიოში ცნობილი ეიფელის კოშკი, ლუვრის მუზეუმი და უამრავი ისტორიული ადგილი. საფრანგეთი ასევე განთქმულია თავისი კულინარიით  პურით, ყველით და დესერტებით, რომლებიც მთელ მსოფლიოში პოპულარულია.
</p>

<p>
პარიზი, საფრანგეთის დედაქალაქი, ხშირად მოიხსენიება როგორც "სიყვარულის ქალაქი".
აქ მდებარეობს მსოფლიოში ცნობილი ეიფელის კოშკი, ლუვრის მუზეუმი და უამრავი ისტორიული ქუჩა და კაფე.
</p>

<ul>
    <li>🗼 Eiffel Tower – ქვეყნის სიმბოლო</li>
    <li>🎨 Louvre Museum – მსოფლიო ხელოვნების ცენტრი</li>
    <li>🥐 French cuisine – ცნობილი საკვები და დესერტები</li>
</ul>

<a href="/" class="btn btn-secondary">Back</a>

{% endblock %}