{% extends 'base.html' %}

{% block content %}

<h2 class="mb-3">საქართველო - თბილისი</h2>
<img src="{{ url_for('static', filename='images/georgia.jpg') }}" width="700" height="300" class="img-fluid rounded mb-3">
<p>
დედაქალაქი: თბილისი
საქართველო არის პატარა, მაგრამ ძალიან ლამაზი ქვეყანა, რომელიც მდებარეობს ევროპისა და აზიის გასაყარზე. იგი ცნობილია თავისი უნიკალური კულტურით, სტუმართმოყვარეობითა და მრავალფეროვანი ბუნებით. ქვეყნის ტერიტორიაზე შეხვდებით როგორც მაღალ მთებს, ასევე მწვანე ველებსა და შავ ზღვის სანაპიროს. თბილისი, დედაქალაქი, არის ისტორიისა და თანამედროვეობის შერწყმა, სადაც ძველი უბნები და თანამედროვე არქიტექტურა ერთად არსებობს. საქართველო ასევე ცნობილია თავისი ღვინით, რომელიც მსოფლიოში ერთ-ერთ უძველეს ტრადიციად ითვლება..
</p>
<p>
თბილისი არის ქვეყნის გული  აქ შეხვდებით როგორც ძველ ისტორიულ უბნებს, ასევე თანამედროვე შენობებს.
</p>

<ul>
    <li>🏔 კავკასიის მთები</li>
    <li>🍷 ქართული ღვინო</li>
    <li>🏙 ძველი თბილისი</li>
</ul>

<a href="/" class="btn btn-secondary">Back</a>

{% endblock %}