{% extends 'base.html' %}

{% block content %}

<h2 class="mb-3">გერმანია - ბერლინი</h2>

<img src="{{ url_for('static', filename='images/german.jpg') }}" width="700" height="300" class="img-fluid rounded mb-3">
<p><b>დედაქალაქი:</b> ბერლინი</p>
<p>
გერმანია არის განვითარებული და ძლიერი ევროპული ქვეყანა, რომელიც ცნობილია თავისი ტექნოლოგიებით, მანქანებით და წესრიგით. დედაქალაქი ბერლინი არის ისტორიული და თანამედროვე კულტურის ცენტრი. ქვეყანა გამოირჩევა ძლიერი ეკონომიკითა და მაღალი ცხოვრების დონით. გერმანიაში ასევე ძალიან პოპულარულია ფესტივალები და ტრადიციული ლუდის კულტურა.
</p>
<p>
ქვეყანა გამოირჩევა ტექნოლოგიით, მანქანებით და წესრიგით.
</p>
<ul>
    <li>🏙 Berlin Wall</li>
    <li>🚗 German cars</li>
    <li>🍺 Culture & festivals</li>
</ul>
<a href="/" class="btn btn-secondary">Back</a>

{% endblock %}