{% extends 'base.html' %}

{% block content %}

<h2 class="mb-3">იტალია - რომი</h2>
<img src="{{ url_for('static', filename='images/italy.jpg') }}" width="700" height="300" class="img-fluid rounded mb-3">
<p><b>დედაქალაქი:</b> რომი</p>
<p>
იტალია არის ისტორიის, ხელოვნებისა და არქიტექტურის ქვეყანა. მისი დედაქალაქი რომი ერთ დროს რომის იმპერიის ცენტრი იყო და დღემდე ინარჩუნებს უძველეს ძეგლებს. ქვეყანა ცნობილია თავისი პიცით, პასტით და უნიკალური კულინარიით. იტალიაში მდებარეობს უამრავი ისტორიული ქალაქი, როგორიცაა ვენეცია და ფლორენცია. ტურისტები აქ მოდიან როგორც კულტურის, ისე ულამაზესი არქიტექტურის სანახავად.
</p>

<p>
ქვეყანა ცნობილია თავისი პიცით, პასტით და ულამაზესი არქიტექტურით.
</p>
<ul>
    <li>🏛 Colosseum</li>
    <li>🍕 Italian cuisine</li>
    <li>🎨 Renaissance art</li>
</ul>
<a href="/" class="btn btn-secondary">Back</a>

{% endblock %}