{% extends 'base.html' %}

{% block content %}

<h2 class="mb-3">იაპონია - ტოკიო</h2>
<img src="{{ url_for('static', filename='images/japan.jpg') }}" width="700" height="300" class="img-fluid rounded mb-3">
<p>
დედაქალაქი: ტოკიო
იაპონია არის ერთ-ერთი ყველაზე განვითარებული ქვეყანა მსოფლიოში, სადაც ტექნოლოგია და ტრადიცია ერთმანეთთან არის შერწყმული.
</p>
<p>
იაპონია არის მაღალტექნოლოგიური ქვეყანა, სადაც ტრადიცია და თანამედროვეობა ერთად არსებობს. მისი დედაქალაქი ტოკიო არის მსოფლიოში ერთ-ერთი ყველაზე განვითარებული და დატვირთული ქალაქი. ქვეყანა ცნობილია თავისი სისუფთავით, მოწესრიგებული ცხოვრებით და უნიკალური კულტურით, როგორიცაა სამურაები, ანიმე და ჩაის ცერემონია.
</p>
<p>
იაპონია ასევე ცნობილია თავისი უნიკალური კულტურით, როგორიცაა სამურაები, ანიმე და ჩაის ცერემონია.
</p>
<ul>
    <li>🏙 Tokyo – თანამედროვე მეგაპოლისი</li>
    <li>🍣 Sushi – მსოფლიოში ცნობილი საკვები</li>
    <li>🌸 Sakura – ალუბლის ყვავილობა</li>
</ul>
<a href="/" class="btn btn-secondary">Back</a>

{% endblock %}