{% extends 'base.html' %}

{% block content %}

<h2 class="mb-3">თურქეთი - ანკარა</h2>
<img src="{{ url_for('static', filename='images/turkey.jpg') }}" width="700" height="300" class="img-fluid rounded mb-3">
<p><b>დედაქალაქი:</b> ანკარა</p>
<p>
თურქეთი არის ქვეყანა, რომელიც მდებარეობს ევროპისა და აზიის გასაყარზე. მისი დედაქალაქი ანკარა არის ადმინისტრაციული ცენტრი, ხოლო სტამბოლი ყველაზე ცნობილი ქალაქია. ქვეყანა ცნობილია თავისი ისტორიული მემკვიდრეობით, მეჩეთებით და მდიდარი კულტურით. თურქული სამზარეულო ასევე ძალიან პოპულარულია მსოფლიოში.
</p>
<ul>
    <li>🕌 Mosques</li>
    <li>🍢 Turkish food</li>
    <li>🌉 Istanbul bridge</li>
</ul>
<a href="/" class="btn btn-secondary">Back</a>

{% endblock %}