{% extends 'base.html' %}

{% block content %}

<h2 class="mb-3">ამერიკა - ვაშინგტონი</h2>

<img src="{{ url_for('static', filename='images/usa.jpg') }}" width="700" height="300" class="img-fluid rounded mb-3">
<p><b>დედაქალაქი:</b> ვაშინგტონი</p>
<p>
ამერიკის შეერთებული შტატები არის ერთ-ერთი ყველაზე ძლიერი და მრავალფეროვანი ქვეყანა მსოფლიოში. მისი დედაქალაქი ვაშინგტონი არის პოლიტიკური ცენტრი, ხოლო ნიუ-იორკი ფინანსური და კულტურული ცენტრი. ქვეყანა გამოირჩევა დიდი ქალაქებით, ტექნოლოგიური განვითარებით და მრავალეთნიკური საზოგადოებით. ამერიკა ასევე ცნობილია კინოინდუსტრიით (ჰოლივუდი) და სპორტით.
</p>
<p>
ნიუ-იორკი არის ფინანსური ცენტრი, ლოს-ანჯელესი კი კინოინდუსტრიის ცენტრი.
</p>
<ul>
    <li>🗽 Statue of Liberty</li>
    <li>🌆 New York City</li>
    <li>🎬 Hollywood</li>
</ul>
<a href="/" class="btn btn-secondary">Back</a>

{% endblock %}